@import url("https://use.typekit.net/lic6xid.css");

:root {
  margin: 0;
  padding: 0;
}

body, html {
  --base: #2B2D42;
  --accentcolor1: #41E2BA;
  --white: #FFFFFF;
  /* background: var(--dark); */
  margin: 0;
  padding: 0;
  background: var(--base);
}


.App {
  text-align: center;
}

.menushow {
  left: 0px;
  border-right: none !important;
  transition: all 1s;
  /* background-color: #2b3342; */
  box-shadow: #41e2baa5 8px 0px 0px -2px inset;
  /* background: pink !important; */
}
.menuhide {
  left: -240px;
  border-right: solid var(--accentcolor1) 4px !important;
  transition: all 1s;
  /* background: pink !important; */
}

.topglow {
  border-top: var(--accentcolor1) solid 4px;
}

.bottomer {
  position: absolute;
  left: 200px;
  bottom: 200px;
}

.borderright {
  border-right: var(--accentcolor1) solid 5px !important;
}

.textalignleft {
  text-align: left !important;
  padding-left: 20px;
}

.scoot {
  /* padding-left: 10px !important; */
}