@import url("https://use.typekit.net/lic6xid.css");

:root {
  margin: 0;
  padding: 0;
}

body, html {
  --base: #2B2D42;
  --accentcolor1: #41E2BA;
  --accentcolor2: #E2A441;
  --white: #d7d9f0;
  /* background: var(--dark); */
  margin: 0;
  padding: 0;
  background: var(--base);
}


.App {
  text-align: center;
}

.menushow {
  left: 0px;
  border-right: none !important;
  transition: all 1s;
  /* background-color: #2b3342; */
  box-shadow: #41e2baa5 8px 0px 0px -2px inset;
  /* background: pink !important; */
}
.menuhide {
  left: -240px;
  border-right: solid var(--accentcolor1) 4px !important;
  transition: all 1s;
  /* background: pink !important; */
}

.topglow {
  border-top: var(--accentcolor1) solid 4px;
}

.bottomer {
  position: absolute;
  left: 200px;
  bottom: 200px;
  display: flex;
  gap: 20px;
}

.borderright {
  border-right: var(--accentcolor1) solid 5px !important;
}

.textalignleft {
  text-align: left !important;
  padding-left: 10px;
}

.scoot {
  /* padding-left: 10px !important; */
}

.goarrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  padding: 0 !important;
}

.goarrow button {
  display: flex;
  background: none !important;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  padding: 0 !important;
}

.createinvoice {
    border-radius: 15px !important;
    width: 150px !important;
    justify-self: flex-end;
}

.clear {
  background: none;
  border: none;
}



.editform input {
  /* border: yellow solid 1px; */
  padding: 5px;
  padding-left: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  height: 1rem;
  width: 150px;

}

.acceptorcancel {
  /* display: grid; */
  /* grid-template-columns: 20px 20px; */
  /* align-items: center !important; */
  /* justify-content: center !important; */
  display: flex;
  padding-left: 0px;
  /* gap: 10px; */
}

.acceptorcancel * > {
}

.acceptorcancel button {
  /* border: #E2A441 solid 1px !important; */
  /* height: 10px;
  width: 30px; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
  width: 20px !important;
}

.hide {
  display: none !important;
}

.center {
  text-align: center;
  justify-self: center;
}

.centertext {
  text-align: center;
  /* justify-self: center; */
}

.addressblock {
  display: grid;
  grid-template-columns: 60px auto;
  justify-content: center;
  /* border: yellow solid 1px; */
  gap: 20px;
  align-self: flex-start;
  align-items: center;
  padding: 9px 10px;
  padding-left: 10px;
}

.addressblock p {
  text-align: left;
  color: var(--accentcolor1);
  opacity: .8;
  /* filter: saturate(5); */



}

.addressblock > * {
  /* border: red solid 1px; */

}

.menutabshow {
  background: var(--accentcolor1);
  color: var(--base);
  width: 70px !important;
  /* justify-content: flex-start !important; */
  padding-top: 0px;
  margin-top: 0px;
  /* writing-mode: vertical-rl;
  text-orientation: upright; */
}

.menutabshow :hover {
  /* transform: translateX(70px) !important; */
}

.tabvisible {
  transform: translateX(130px) translateY(0px) !important;
    writing-mode: vertical-rl;
  text-orientation: upright;
  width: 20px !important;
}

.tabhidden {
  /* display: none; */
  opacity: 0;
  transform: translateX(130px) translateY(-11px) !important;
}

.invoiceto {
    display: grid;
    grid-template-columns: 30px auto;
    grid-template-rows: 30px;
    grid-auto-rows: 30px;

}

.invoicefrom {
padding-top: 30px;
}

.invoicefrom p {
  font-weight: 400;
  font-size: .8rem;
  padding-left: 100px !important;
}

.normalweight {
  font-weight: 400;
}